<h1>Hello {{name}}</h1>
<ul>
  <li>Name: {{name}}</li>
  <li>Age: {{age}}</li>
  <li>Address: {{address.street}},{{address.state}},{{address.country}}</li>
  <li>Hobby: {{hobbies}}</li>
 
</ul>
<button (click)="onclick()">Click Me</button>
<button (click)="toggleEdit()">Toggle</button>

<h1>Add user</h1>
<div *ngIf=isEdit>
    <form>
    <div>
      <label for=name>Name</label><br>
      <input type="text" [(ngModel)]="name" name="name">
    </div>
    <div>
      <label for=age>Age</label><br>
      <input type="number" [(ngModel)]="age" name="age">
    </div>
    <div>
      <label for=street>Street</label><br>
      <input type="text"  [(ngModel)]="address.street" name="street">
    </div>
    <div>
      <label for=state>State</label><br>
      <input type="text" [(ngModel)]="address.state" name="state">
    </div>
    <div>
      <label for=country>Country</label><br>
      <input type="text" [(ngModel)]="address.country" name="country">
    </div>
  </form>
</div>

<h1>Hobby</h1>

<form (submit)="addHobby(hobby.value)"> 
  <label for="hobby">Hobby</label>
  <input type="text" #hobby>
</form>
<ul>
  <li *ngFor="let hobby of hobbies;let i=index">{{i+1}}: {{hobby}}
    <button (click)="deleteHobby(hobby)">x</button>
  </li>
</ul>

<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>

</div>
